body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

.card-img-top {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.card-body {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-text, .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-title {
    font-weight: bold;
}

.card-text span {
    font-size: 1.1rem;
}
