body {
    background-color: #f8f9fa; /* Cor de fundo suave */
}

.container {
    margin-top: 20px; /* Espaçamento acima do container */
}

.card {
    border: none; /* Remover borda da card */
    border-radius: 8px; /* Arredondar os cantos */
    overflow: hidden; /* Esconder elementos que ultrapassarem os limites */
    display: flex; /* Usar flexbox para centralizar conteúdo */
    flex-direction: column; /* Colocar itens na coluna */
    align-items: center; /* Centralizar horizontalmente */
}

.card-img-top {
    width: 500px; /* Largura fixa */
    height: 500px; /* Altura fixa */
    object-fit: cover; /* Ajustar a imagem para cobrir o espaço */
}

.card-body {
    background-color: #ffffff; /* Fundo branco para o conteúdo */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centralizar o texto */
}
