body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    width: 250px; /* Largura reduzida dos cards */
    margin: 0 auto; /* Centraliza os cards */
}

.card-img-top {
    width: 100%; /* Faz a imagem ocupar toda a largura do card */
    height: 200px; /* Altura fixa da imagem */
    object-fit: cover;
}

.card-body {
    background-color: #ffffff;
    padding: 15px; /* Espaçamento reduzido no corpo do card */
    text-align: left;
}

.card-title {
    font-size: 1.2rem; /* Tamanho reduzido do título */
    font-weight: bold;
}

.card-text {
    font-size: 1rem; /* Tamanho reduzido do texto */
    margin-bottom: 8px; /* Espaçamento inferior reduzido entre os textos */
}

.header img {
    max-width: 200px;
}

.btn {
    margin-top: 5px; /* Espaçamento superior reduzido para os botões */
}

.text-center p {
    font-size: 1.2rem; /* Aumenta o tamanho da fonte quando não há produtos */
    color: #dc3545;
}
