body {
    background-color: #f5e6cc;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}


.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
    position: relative;
}



.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 35px;
}

.button-container button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.button-container button[type="submit"] {
    background-color: #d38b56;
    color: white;
}

.button-container button.cancel {
    background-color: #ececec;
    color: #333;
}

.button-container button.cancel:hover {
    background-color: #d4d4d4;
}

.button-container button[type="submit"]:hover {
    background-color: #bf7243;
}
