<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
    <link rel="stylesheet" type="text/css" href="/css/adm-lista-usuario.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Adicionar Novo Usuário</h1>

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}">Mensagem de erro</span>
    </div>

    <form action="#" th:action="@{/adicionar-usuario}" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome"
                   th:value="${nome}" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email"
                   th:value="${email}" required>
        </div>

        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf"
                   th:value="${cpf}" required>
        </div>

        <div class="mb-3">
            <label for="grupo" class="form-label">Grupo</label>
            <select class="form-control" id="grupo" name="grupo" required>
                <option value="">Selecione um grupo</option>
                <option value="Adm" th:selected="${grupo == 'Adm'}">Adm</option>
                <option value="Estoquista" th:selected="${grupo == 'Estoquista'}">Estoquista</option>
                <option value="Usuario" th:selected="${grupo == 'Usuario'}">Usuario</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" required>
        </div>

        <div class="mb-3">
            <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
            <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" required>
        </div>

        <button type="submit" class="btn btn-primary">Adicionar Usuário</button>
    </form>


    <a href="/lista-usuario" class="btn btn-secondary mt-3">Voltar</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function(){
        $('#cpf').inputmask('999.999.999-99');
    });
</script>
</body>
</html>
