<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BackOffice</title>
    <link rel="stylesheet" href="CSS/Backoffice.css">

    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</head>
<body>
    <div class="login-container">

        <h1>BackOffice</h1>
        
            <div class="button-container">
                <button type="button" onclick="redirectTo('/listarusuariobackoffice')">LISTAR USUÁRIO</button>
              </div>
              <div class="button-container">

              <button type="submit">LISTAR PRODUTO</button>
            </div>
            <div class="prod">
                <p>LISTA PEDIDOS</p>
            </div>
            <div class="button-container">
                <button type="button" class="cancel">Cancelar</button>
            </div>
        
    </div>
</body>
</html>
