<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/carrinho.js"></script>
</head>

<body>

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <a href="/produtos" class="btn btn-secondary">Voltar</a>
        <h2>Carrinho de Compras</h2>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Imagem</th>
            <th scope="col">ID</th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço Unitário</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody id="carrinho-body"></tbody>
    </table>



    <div class="d-flex justify-content-between">
        <h4>Total: <span id="total">R$ 0,00</span></h4>
        <form th:action="@{/carrinho/checkout}" method="post">
            <button type="submit" class="btn btn-success">Finalizar Compra</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
