<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pedido</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <div class="button-container d-flex justify-content-between align-items-center">
        <a href="/pedidos" >
            <img src="/images/SetaVoltar.png">
        </a>
    </div>
    <h2>Editar Pedido</h2>
    <form th:action="@{/pedidos/salvar}" th:object="${pedido}" method="post">
        <input type="hidden" th:field="*{id}"/> <!-- Passa o ID para o controller -->

        <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control" th:field="*{status}">
                <option value="AGUARDANDO PAGAMENTO">Aguardando Pagamento</option>
                <option value="PAGAMENTO REJEITADO">Pagamento Rejeitado</option>
                <option value="PAGAMENTO COM SUCESSO">Pagamento com Sucesso</option>
                <option value="AGUARDANDO RETIRADA">Aguardando Retirada</option>
                <option value="EM TRANSITO">Em Trânsito</option>
                <option value="ENTREGUE">Entregue</option>
            </select>
        </div>

        <div class="form-group">
            <label for="total">Valor Total</label>
            <input type="text" id="total" class="form-control" th:field="*{total}" readonly>
        </div>

        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
