<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/lista-telas.css">
    <title>Administração</title>
</head>
<body>
    <div class="container">
        <h2>Área de Administração</h2>

        <ul>
            <li><a href="/listar-produto">Listar Produto</a></li>
            <li><a href="/listar-usuario">Listar Usuário</a></li>
            <li><span class="disabled">Listar Pedidos</span></li>
        </ul>
    </div>

</body>
</html>
