<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuário</title>
    <link rel="stylesheet" href="CSS/ListarUsuario.css">
</head>
<body>
    <div class="container">
        <h1>Listar Usuário</h1>
        <div class="search-container">
            <input type="text" placeholder="Digite aqui...">
            <button>Pesquisar</button>
            <button class="register-button">+ Cadastrar</button>
        </div>


        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Status</th>
                    <th>Grupo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuarios : ${usuarios}">
                    <td th:text="${usuarios.id}"></td>
                    <td th:text="${usuarios.nome}"></td>
                    <td th:text="${usuarios.email}"></td>
                    <td th:text="${usuarios.status}"></td>
                    <td th:text="${usuarios.grupo}"></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
